body {
  font-size: .875rem;
  overflow: hidden;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.logo{
  width: 120px;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2!important; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  background: #e6effd;
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
.sidebar .nav-link:hover {
  background-color: rgba(255, 170, 0, 0.5);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #004884;
  background-color: #FFAB00;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

#main-wrapper{
  overflow: scroll;
  height: 100vh;
  margin-top: 52px;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  display: flex;
  align-items: flex-end;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* 
 * Secciones 
 */

.transversales{
  padding: 1rem 0;
  margin-top: 2rem;
}
.transversales article {
    padding-bottom: 1rem;
    margin-top: 3rem;
}
.componentes article {
    padding-bottom: 1rem;
    margin-top: 3rem;
}
.componentes article:first-of-type h2,
.transversales article:first-of-type h2{
    border-top: unset
}
.componentes article:last-of-type,
.transversales article:last-of-type {
    border-bottom: unset
}
.transversales article>h2,
.componentes article>h2{
    border-top: 1px solid rgba(0,0,0,0.25);
    padding-top: 3rem;
}
/*
 * Code snippet
 */

.highlight .nt {
    color: #008000;
    font-weight: bold;
}
.highlight .na {
    color: #7D9029;
}
.highlight .s {
    color: #BA2121;
}
pre {
    font-family: "Bitstream Vera Sans Mono","Courier New",Monaco,monospace;
    font-size: 1rem;
}



/*Documentación*/
.highlight {
  margin-bottom: 1rem;
  background-color:#f8f9fa;
}

.bd-content > table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.bd-content > table > thead > tr > th,
.bd-content > table > thead > tr > td,
.bd-content > table > tbody > tr > th,
.bd-content > table > tbody > tr > td,
.bd-content > table > tfoot > tr > th,
.bd-content > table > tfoot > tr > td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

.bd-content > table > thead > tr > th > p:last-child,
.bd-content > table > thead > tr > td > p:last-child,
.bd-content > table > tbody > tr > th > p:last-child,
.bd-content > table > tbody > tr > td > p:last-child,
.bd-content > table > tfoot > tr > th > p:last-child,
.bd-content > table > tfoot > tr > td > p:last-child {
  margin-bottom: 0;
}

.bd-content > table td:first-child > code {
  white-space: nowrap;
}

.bd-content > h2:not(:first-child) {
  margin-top: 3rem;
}

.bd-content > h3 {
  margin-top: 1.5rem;
}

.bd-content > ul li,
.bd-content > ol li {
  margin-bottom: .25rem;
}

.list-unstyled::before {
  display: table;
}
.list-unstyled li {
  height: 120px;
  width: 140px;
  padding: 8px;
  padding-top: 20px!important;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  user-select: none;
}
.list-unstyled .icon-item {
  text-align: center;
}
.list-unstyled li a {
  display: block;
  border-radius: 10px;
}

.list-unstyled li {
  border: 1px solid transparent;
  padding: 2px;
}
.list-unstyled li:hover {
  border: 1px solid #004884!important;
  border-radius: 15px;
}
.list-unstyled li a:hover {
  text-decoration: none!important;
}

/*scroll item test */
.cdn-scroll-dark{
  height: 80px;
  border: 1px solid #bdc3ce;
  padding: 5px;
  background: #ffffff;
}
.cdn-scroll-light{
  height: 80px;
  border: 1px solid #bdc3ce;
  padding: 5px;
  background: #e6effd;
}

#backtoTop
{ 
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* Table Pagination */
table.dataTable.display tbody tr {
  background-color: #fff !important;
}
table.dataTable.display tbody tr td {
  background: #fff !important;
}
/* You can add global styles to this file, and also import other style files */

#DataTables_Table_0_filter{
  float:left;
}
#DataTables_Table_0_filter label {
  position: relative;
  font-size: 1.125rem;
  font-weight: 700;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  padding: 5px 15px;
  border: none;
  background: #e6effd;
  border-radius: 20px;
  outline: none;
}
#DataTables_Table_0_filter label::after{
  font-family: "Govco Icon";
  content: '\e95c';
  font-size: 2rem;
  position: absolute;
  bottom: -5px;
  right: 3px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button
{
  color: #004884 !important;
  text-decoration: none;
  font-weight: bold;
  border: 0px !important;
  font-size: 1.4375rem !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current
{
  background: transparent !important;
}
.dataTables_wrapper .dataTables_paginate .ellipsis
{
  font-size: 1.4375rem !important;
}
.dataTables_wrapper .dataTables_paginate 
{
  text-align: center;
  float: none;
}

table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc {
  background: none;
  position: relative;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px;
  min-width: 1.5em;
}
th.sorting_desc::after, 
th.sorting_asc::after{
  font-family: "Govco Icon";
  content: '\e98f';
  position: absolute;
  top: 8px;
  right: -3px;
  color: #3772ff;
  font-size: 1.2em;
  width: 1.4em;
  height: 1.4em;
  align-content: center;
}
th.sorting_desc::after {
  transform: scale(-1);
}
th.sorting_asc::after {
  transform: scale(1);
}
table.dataTable.no-footer, 
table.dataTable thead th {
  border:none;
}

.dataTables_wrapper .dataTables_paginate 
.paginate_button.disabled svg
{
  fill: #b6b6b6;
}
.dataTables_wrapper .dataTables_length{
  float: right;
  margin: 6px 20px 0px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Work Sans",sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.dataTables_wrapper .dataTables_length label{
  padding: 0px;
  margin: 0px;
}

/*** Styles hightlight pre code ***/

pre {
  display: block;
      font-family: "Montserrat",sans-serif;
  font-size: 1rem;
  white-space: pre;
  margin: 1em 0px;
  width: 100%;
  overflow: auto;
}
code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background:  #f8f9fa;
  color: #272822;
}
.hljs-tag, .hljs-keyword, .hljs-selector-tag, 
.hljs-literal, .hljs-strong, .hljs-name {
  /* color: #f92672; */
  color: #7f0055;
}
.hljs-string, .hljs-bullet, .hljs-subst, .hljs-title, .hljs-section,
.hljs-emphasis, .hljs-type, .hljs-built_in, .hljs-builtin-name, 
.hljs-selector-attr, .hljs-selector-pseudo, .hljs-addition, .hljs-variable, 
.hljs-template-tag, .hljs-template-variable {
  color: #2a00ff;
}
.hljs-attr
{
  color: #212529;
}
code {
  font-family: "Montserrat",sans-serif;
  font-size: 1rem;
}
.backtoTop .btn-svg-up-hover{
  font-size: 2rem !important;
  line-height: 2rem !important;
}
.backtoTop .btn-up-hover {
  padding: 0.5rem;
}
.backtoTop .label-button-star-up{
  font-size: 1.2rem !important;
}
.backtoTop .div-star-up{
  right: -10em !important;
}
.btn-up-hover:hover, .btn-up-hover:focus{
  -webkit-transform: translateX(-9.9em) !important;
    transform: translateX(-9.9em) !important;
}