/*------------------------------------
  $Font Work Sans
 ------------------------------------*/
/* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/Work_Sans/static/WorkSans-Thin.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Work_Sans/static/WorkSans-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/Work_Sans/static/WorkSans-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Work_Sans/static/WorkSans-ExtraLight.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Work_Sans/static/WorkSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Work_Sans/static/WorkSans-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Work_Sans/static/WorkSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Work_Sans/static/WorkSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Work_Sans/static/WorkSans-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Work_Sans/static/WorkSans-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Work_Sans/static/WorkSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Work_Sans/static/WorkSans-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Work_Sans/static/WorkSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Work_Sans/static/WorkSans-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/Work_Sans/static/WorkSans-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/Work_Sans/static/WorkSans-Black.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Work_Sans/static/WorkSans-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


/*------------------------------------
  $Font Work Sans
 ------------------------------------*/
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src:local('Montserrat Thin'), 
        local('Montserrat-Thin'), 
        url('../fonts/Montserrat_font/Montserrat-Thin.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat_font/Montserrat-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat ExtraLight'), 
        local('Montserrat-ExtraLight'), 
        url('../fonts/Montserrat_font/Montserrat-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat_font/Montserrat-ExtraLight.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Light'), 
        local('Montserrat-Light'), 
        url('../fonts/Montserrat_font/Montserrat-Light.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat_font/Montserrat-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), 
        local('Montserrat-Regular'), 
        url('../fonts/Montserrat_font/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat_font/Montserrat-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), 
        local('Montserrat-Medium'), 
        url('../fonts/Montserrat_font/Montserrat-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat_font/Montserrat-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), 
        local('Montserrat-SemiBold'), 
        url('../fonts/Montserrat_font/Montserrat-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat_font/Montserrat-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), 
        local('Montserrat-Bold'), 
        url('../fonts/Montserrat_font/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat_font/Montserrat-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), 
        local('Montserrat-ExtraBold'), 
        url('../fonts/Montserrat_font/Montserrat-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat_font/Montserrat-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat Black'), 
        local('Montserrat-Black'), 
        url('../fonts/Montserrat_font/Montserrat-Black.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Montserrat_font/Montserrat-Black.woff2')  format('truetype'); /* Safari, Android, iOS */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }