<!-- Body -->

<!-- Sección de Noticias -->
<div _ngcontent-jvf-c1="" class="container container-home-top" style="height: auto;">
    <div class="jcp_servicios"></div>
</div>

<!-- Sección de Multimedia -->
<app _ngcontent-gau-c1="" _nghost-gau-c7="">
    <div _ngcontent-gau-c7="" id="participacion">
        <div _ngcontent-gau-c7="" class="wrapper">
            <div _ngcontent-gau-c7="" class="container">                
                <div _ngcontent-gau-c7="" class="row jcp_multimedia_ejercito_tv">                   
                </div>
            </div>
        </div>
    </div>
</app>

<!-- Sección de Redes sociales -->
<div _ngcontent-jvf-c1="" class="container container-home-top" style="height: auto;">
    <app-noticias2 _ngcontent-jvf-c1="" _nghost-jvf-c8="">
        <div _ngcontent-jvf-c8="" class="news">
            <div _ngcontent-jvf-c8="" class="headboard">
                <h3 _ngcontent-jvf-c8="" class="title col-md-8 justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cloud-fill" viewBox="0 0 16 16">
                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                    </svg><br>
                    Redes sociales
                </h3>
            </div>
        </div>
        <div _ngcontent-gau-c7="" class="row">
            <div _ngcontent-gau-c7="" class="headboard col-xs-12 col-sm-12 col-md-6 col-lg-6">                        
                <iframe width="100%" height="600px" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fejercitocolombia%2F&tabs=timeline&width=500&height=600px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1302240496568256" style="border:none;overflow:hidden; background-color: transparent" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div _ngcontent-gau-c7="" class="headboard col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <a class="twitter-timeline" data-height="600" width="100%" data-dnt="true" href="https://twitter.com/COL_EJERCITO?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
        </div>
    </app-noticias2>
</div><br><br>

<!-- Seccion de Destacados -->
<app-otros-temas _ngcontent-fkk-c1="" _nghost-fkk-c9="">
    <div _ngcontent-fkk-c9="" class="interest-themes">
        <div _ngcontent-fkk-c9="" class="container">
            <div _ngcontent-fkk-c9="" class="headboard">
                <h3 _ngcontent-fkk-c9="" class="title text-destacados" style="color: #fff">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                    </svg><br>
                    Destacados
                </h3>
            </div>
            <div _ngcontent-fkk-c9="" class="row jcp_marcadores"></div>
        </div>
    </div>
</app-otros-temas><br><br>