<!-- Footer -->

<br><br>
<footer class="gov-co-footer">
   <div class="gov-co-footer-presetacion">
      <div class="gov-co-footer-autoridad" >
         <div class="footer-titulo" style="width: 56%">
            <div class="container-fluid">
               <div class="row">
                  <div class="col">
                     <h5 class="titulo-sede-gov-co">Ejército Nacional de Colombia</h5>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-logo-autoridad">
            <div class="containder-fluid">
               <div class="row">
                  <div class="col">
                     <div class="logo-gov-co">
                        <img class="img-fluid img-unidad" src="https://ejercito.mil.co/images/logo_escudo_ejc.png" >
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-presentacion" style="width: 50%">
            <div class="container-fluid">
               <div class="row">
                  <div class="col">
                     <h5 class="sub-titulo-sede-gov-co">Sede principal</h5>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div class="contenido-sede-gov-co gov-detalles">
                        <p class="color-p">Dirección: Carrera 54 # 26 - 25 | Bogotá D.C</p>
                        <p class="color-p">Horario de Atención: Lunes a Viernes 08:00 am - 05:00 pm.</p>
                        <p class="color-p">Teléfono Conmutador: 57-1 2216336 / 2220950 / 4261499</p>
                        <p class="color-p">Línea gratuita nacional: 01 8000 111 689</p>
                        <p class="color-p">Línea anticorrupción: 163</p>
                        <p class="color-p">Correo: <a href="mailto:sac@buzonejercito.mil.co">sac@buzonejercito.mil.co</a></p>
                        <p class="color-p">Correo notificaciones judiciales: <a href="mailto:ceoju@buzonejercito.mil.co">ceoju@buzonejercito.mil.co</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-contactos" style="margin-top: 35px;">
            <div class="container-fluid">
               <div class="row">
                  <div class="col gov-detalles">
                     <h5 class="sub-titulo-sede-gov-co">Atención al Ciudadano</h5>
                     <p class="color-p">Teléfono Conmutador: 2220950 / 4261499 / 2216336</p>
                     <p class="color-p">Correo: <a href="mailto:peticiones@ejercito.mil.co">peticiones@ejercito.mil.co</a></p>
                  </div>
               </div>               
               <div class="row h-gov-co">
                  <div class="col gov-detalles">
                     <h5 class="sub-titulo-sede-gov-co">Dirección de Comunicaciones Estratégicas</h5>
                     <p class="color-p">Teléfono: +(57) 350 8553461</p>
                     <p class="color-p">Correo: <a href="mailto:dicoe@ejercito.mil.co">dicoe@ejercito.mil.co</a></p>
                  </div>
               </div>
               <div class="row h-gov-co">
                  <div class="col gov-detalles">
                     <h5 class="sub-titulo-sede-gov-co">Publicaciones Ejército</h5>
                     <p class="color-p">Teléfono: +(57) 350 8553461</p>
                     <p class="color-p">Correo: <a href="mailto:publicacionesejercito@ejercito.mil.co">publicacionesejercito@ejercito.mil.co</a></p>
                     <p class="color-p">Página web: <a href="https://publicacionesejército.mil.co" target="_blank">publicacionesejército.mil.co</a></p>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-presentacion" style="width: 50%">
            <div class="container-fluid">
               <div class="row">
                  <div class="col">
                     <div class="gov-co-politicas">
                        <a class="gov-co-politicas" href="https://twitter.com/col_ejercito" target="_new">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                <path class="path-icono-rojo" d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                            </svg>
                        </a>
                        <a class="gov-co-politicas" href="https://www.instagram.com/ejercitonacionalcolombia/" target="_new">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                <path class="path-icono-rojo" d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                            </svg>
                        </a>
                        <a class="gov-co-politicas" href="https://web.facebook.com/ejercitocolombia/" target="_new">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path class="path-icono-rojo" d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                            </svg>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-politicas">
            <div class="container-fluid">
               <div class="row p-0">
                  <div class="col p-0">
                     <div class="gov-co-politicas">
                        <a class="goc-co-link-poli" [routerLink]="">Políticas</a>
                        <a class="goc-co-link-poli" [routerLink]="">Mapa del sitio</a>
                        <a class="goc-co-link-poli" [routerLink]="">Términos y condiciones</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="gov-co-footer-pie">
      <div class="gov-co-footer-auto">
         <img class="img-fluid gov-co-logo-pie-mesa" src="https://ejercito.mil.co/images/colombiaco_Mesa_de_trabajo_1.png" alt="" srcset="" />
         <img class="img-fluid gov-co-logo-pie-blanco" src="https://ejercito.mil.co/images/logo.svg" alt="" srcset="" />
      </div>
   </div>
</footer>

<!-- Sección de accesibilidad -->
<govco-accesibility-bar _ngcontent-ncu-c1="" class="hydrated d-block d-sm-none d-md-none d-lg-block d-xl-block">
   <div class="block block--gov-accessibility">
       <div class="block-options navbar-expanded" style="background-color: #7c0808;">
           <a class="contrast-ref" rel="noopener" onclick="class_contraste();">
               <span class="govco-icon govco-icon-contrast-n"></span>
               <label> Contraste </label>
           </a>
           <a class="min-fontsize" rel="noopener" onclick="class_disminuir_letra();">
               <span class="govco-icon govco-icon-less-size-n"></span>
               <label class="align-middle"> Reducir letra </label>
           </a>
           <a class="max-fontsize" rel="noopener" onclick="class_aumentar_letra();">
               <span class="govco-icon govco-icon-more-size-n"></span>
               <label class="align-middle"> Aumentar letra </label>
           </a>
       </div>
   </div>
</govco-accesibility-bar>

<!-- Sección de volver arriba -->
<govco-back-to-top _ngcontent-ncu-c0="" class="hydrated">
   <div class="scroll-to-top" style="background-color: #ffffff47;">
       <button onClick=class_volver_arriba();>
           <span class="govco-icon govco-icon-shortu-arrow-n btn-svg-up-hover"></span>
           <span class="label-button-star-up"> Volver a arriba </span>
       </button>
   </div>
</govco-back-to-top>