<!-- Head -->
<nav class="navbar fixed-top navbar-expand-lg navbar-gov-co" style="z-index: 100;">
    <div class="navbar-gov-co-pri container-fluid">
       <div class="navbar-logo float-left">
          <a class="navbar-brand" href="javascript:void(0)">
             <img src="https://cdn.www.gov.co/assets/images/logo.png" onclick="class_nav_cerrar_menu();" height="30" alt="Logo Gov.co" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
       </div>
       <div class="collapse navbar-collapse navbar-first-menu float-right">
          <div class="nav-primary mx-auto">
             <ul class="navbar-nav ml-auto nav-items nav-items-desktop"></ul>
          </div>
          <div class="nav-item-primary ml-auto mr-2">
             <span class="govco-icon govco-icon-language-en-n lang-govco ml-3"></span>
          </div>
       </div>
    </div>
    <div class="navbar-nav navbar-notifications" id="notificationHeader"></div>
 </nav>
<div class="navbar-gov-co-search">
    <div class="content-logo d-none d-sm-block">
    <a title="Inicio" href="/"><img class="img-fluid img-unidad" src="https://ejercito.mil.co/images/logo_escudo_ejc.png" style="margin-top: 20px;"></a>
    </div>
    <div class="content-search">
    <div class="form-group gov-co-form-group form-group-search">
        <input type="search" class="form-control gov-co-form-control" style="margin-top: 20px;" id="idSearch" placeholder="Buscar" />
        <span class="govco-icon govco-icon-search-cn" style="margin-top: 20px;"></span>
    </div>
    </div>
</div>
 
 <!-- Menúi Principal -->
<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light navbar-gov-co-sedes menu_nabvar">
    <a class="navbar-brand d-block d-sm-block d-md-block d-lg-none d-xl-none" href="javascript:void(0)">Menú</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-cerrar-menu" id="collapsibleNavbar">
        <ul class="navbar-nav jcp_menu_principal">
    </div>
</nav> 
  
<!-- Carrosel o sección de Banners-->
<div class="jcp_banners"></div>